
<div class="container" *ngIf="paginaBuscador()">
    <div class="row">
        <div class="col">
            <h2 class="main-title">¡Nuestra Cartelera!</h2>
            <div class="card-columns d-flex flex-wrap">
                <div class="card" *ngFor="let pelicula of listaFiltrada">
                    <img [src]="'https://image.tmdb.org/t/p/w500' + pelicula.poster_path" class="card-img-top"
                        alt="{{ pelicula.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ pelicula.title }}</h5>
                        <p class="card-text">{{ pelicula.overview.slice(0,150) }}...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>