<form [formGroup]="miFormulario">
    <div class="container">
        
        <div class="mb-4">
            <label class="d-block" for="nombre">Nombre</label>
            <input class="w-50" formControlName="nombre" type="text" />
            <p *ngIf="miFormulario.get('nombre')!.touched && miFormulario.get('nombre')!.hasError('required')">El campo es obligatorio</p>    
        </div>


        <div class="d-flex justify-content-between mb-4">
            <div class="mb-4">
                <label class="d-block" for="usuario">Usuario</label>
                <input formControlName="usuario" type="text" />
            <p *ngIf="miFormulario.get('usuario')!.touched && miFormulario.get('usuario')!.hasError('required')">El campo es obligatorio</p>    
            </div>

            <div class="mb-4">
                <label class="d-block" for="email">Email</label>
                <input  formControlName="email" type="email" />
                <p *ngIf="miFormulario.get('email')!.touched && miFormulario.get('email')!.hasError('required')">El campo es obligatorio</p>    
            </div>
        </div>

        <div class="d-flex justify-content-between mb-4">
            <div><label class="d-block" for="password1">Contraseña</label>
            <input formControlName="password1" type="password" />
            <p *ngIf="miFormulario.get('password1')!.touched && miFormulario.get('password1')!.hasError('required')">El campo es obligatorio</p>
            </div>
            
            <div>
            <label class="d-block" for="password2">Confirmar contraseña</label>
            <input formControlName="password2" type="password" />
            <p *ngIf="miFormulario.get('password2')!.touched && miFormulario.get('password2')!.hasError('required')">El campo es obligatorio</p>
            </div>
        </div>
            
        <button (click)="enviarDatos()" [disabled]="miFormulario.invalid">Enviar</button>
    </div>
</form>