<div>
    
</div>


<div class="container">
    <h1>Buscador</h1>
  
    <ul class="list">
      <li *ngFor="let item of listaFiltrada">
        {{item}}
      </li>
    </ul>
    <div class="row">
        <div class="col">
            <h2 class="main-title">¡Nuestra Cartelera!</h2>
            <div class="card-columns d-flex flex-wrap">
                <div class="card" *ngFor="let movie of popularMovies">
                    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="card-img-top"
                        alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.overview.slice(0,150) }}...</p>
                    </div>
                    <button class="botones btn btn-primary" (click)="verDetalles(movie.id)">Detalles</button>
                </div>
            </div>
        </div>
    </div>
</div>

