<div class="container mt-5">
    <div>
      <h2 class="mb-5">My Watchlist</h2>
      <hr class="mb-5 w-50">
    </div>
    <div class="row">
      <div class="col-4 mb-4" *ngFor="let movie of mywatchlist">
        <div class="card">
          <div>
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="card-img-top mx-auto img-fluid" [alt]="movie.title">
            <button class="detalles" (click)="detallePelicula(movie.id)"></button>
          </div>
          <div class="card-body">
            <h2>{{ movie.title }}</h2>
            <p>{{ movie.overview.slice(0, 90) }}...</p>
          </div>
          <div class="botones">
            <button type="button" class="eliminar btn" (click)="deleteFromWatchlist(movie.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  