<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="main-title">¡Nuestra Cartelera!</h2>
            <div class="card-columns d-flex flex-wrap">
                <div class="card" *ngFor="let movie of popularMovies">
                    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="card-img-top"
                        alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.overview }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .main-title {
        text-align: center;
        font-weight: bold;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .card {
        width: 30%;

    }

</style>

