<div class="container" *ngIf="movieDetails">
    <div class="d-flex mt-4 ">
        <img class="img-ind" [src]="'https://image.tmdb.org/t/p/w500' + movieDetails.poster_path" alt="{{ movieDetails.title }}">
        <div class="p-2">
            <h1 class="card-title text-center">{{ movieDetails.title }}</h1>
            <hr>
            <h3>Descripcion</h3>
            <h4 class="texto-ind">{{ movieDetails.overview }}</h4>
            <hr>
            <h3>Fecha lanzamiento</h3>
            <h4>{{ movieDetails.release_date }}</h4>
            <hr>
            <h3>Género</h3>
            <div *ngFor="let genero of movieDetails.genres">
                <h4>{{ genero.name}}</h4>
            </div>

        </div>
    </div>
</div>
