<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="titleshome">Películas Populares</h2>
            <div id="popularMoviesCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" *ngFor="let movie of popularMovies; let i = index"
                        [ngClass]="{'active': i === 0}">
                        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="d-block w-50 "
                            alt="{{ movie.title }}">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#popularMoviesCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#popularMoviesCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="titleshome">Películas Mejor Valoradas</h2>
            <div class="card-columns">
                <div class="card" *ngFor="let movie of topRatedMovies">
                    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="card-img-top"
                        alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.overview }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .carousel-item{
        margin: 1% 20%;
        width: 130%;
    }

    .titleshome{
        text-align: center;
        margin-top: 2%;
        font-weight: bold;
        margin-bottom: 5%;

    }

</style>