


.card {
    position: relative;
    height: 50em;
    background-color: black;
    color: white;
  }
  
  .carousel-caption{
    background-color: transparent;
  
  }
  
  h4,h6{
    background-color: transparent;
  }
  
  .card-img-top{
    filter:drop-shadow(5px 5px 7px red);
    border-radius: 15em;
  }
  
  .detalles {
    position: absolute;
    width: 27em;
    height: 39em;
    top: 0;
    left: -0.5em;
    z-index: 1;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15em;
  }
  
  h2 {
    color: white;
  }
  
  hr {
    color: red;
  }
  
  .carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: transparent;
    border-radius: 20px;
  
  }