.collapse{
    display: flex;
    justify-content: space-evenly;
}

.menu > li{
    margin-right: 20%;
    color: black;
}

.busqueda > input {
    margin-right: 2%;
}

.main-title {
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card {
    width: 30%;
    height: 48rem;
    position: relative;
}

.botones {
    position: absolute;
    bottom: 2%;
    left: 6%;
}