.navbar{
    background-color: black;
}

.menu > li{
    margin-right: 20%;
    color: black;
}

.main-title {
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card {
    width: 30%;
    height: 48rem;
    position: relative;
}

.botones {
    position: absolute;
    bottom: 2%;
    left: 6%;
}

.barrita{
    display: flex;
    width: 100%;
}

.elementos {
    justify-content: space-between;
    padding-right: 2%;
}

.componentes{
    color: white;
    font-size: x-large;
    padding-top: 1em;
}

.componentehome{
    color: white;
    font-size: x-large;
    margin-left: 11em;
    padding-top: 1em;

}

.cine{
    font-size: 50px;
    color: red;
    width: 6em;
    text-align: center;
    text-shadow: 0px 0px 5px red;
}


.nav-link{
    color: white;
}


.busqueda{
    background-color: red;
    color: white;
    font-weight: bold;
  }
  
  .busqueda:hover{
      background-color: white;
      color: black;
  }
  
  .barrabusqueda{
    background-color: white;
    color: black;
    font-weight: bold;
  }
  
  .barrabusqueda:hover{
      background-color: white;
      color: black;
  }
  
